

/* *{
    text-align: center;
} */
.condd{
    background-image: url(https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
    height: 100vh;
    width: 100%;

}

.conbt1{
    background-color: aqua;
}

/* .dd1{
    text-align: center;
    
} */
/* .dd2{
    background-color: aqua;
    height: 60vh;
    width: 60vw;
    margin-left: 23vw;
    
} */
/* .i1{
    margin-left: 23vw;
} */
/* .he1{
    margin-left: 25vw;
} */
/* .he2{
    margin-left: 17vw;
} */
/* .i2{
    margin-left: 23vw;
} */